*{
    margin: 0%;
    padding: 0%;
}

body{
    background: rgb(93, 55, 184);
    color: rgb(228, 228, 238);
}
:root{
    --azul: #10002B;
    --roxo-primario: #240046;
    --roxo-secundario: #3C096C;
    --roxo-terciario: #5A189A;
    --roxo-quarteario: #7B2CBF;
    --roxo-quinteario: #9D4EDD;
    --roxo-sextario: #C77DFF;
    --roxo-setario: #E0AAFF;
    --branco-otaario:#ffffff;
}
.cabecalho{
    background-color: var(--azul);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    
}
.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}
.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--roxo-setario);
    font-size: 24px;
    color: var(--roxo-quinteario);
    margin-right: 24px;
}
.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url();
    background-repeat: no-repeat;
    margin-left: 12px;
    padding: 24px 12px;
}
.principal-capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.principal-capa__titulo{
    font-family: var(--branco-otaario);
    font-size: 32px;
    color: #10002B;
    margin-bottom: 12px;
}
.principal-capa__texto{
    font-size: 24px;
    margin-top: 24px;
}
.principal-capa__imagem{
    border-radius: 0 5% 0 5%;
}
.principall-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.principal-capa__botao{
    background-color: var(--branco-otaario);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--roxo-terciario);
    text-decoration: none;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-otaario);
    color: aqua;
}
.propaganda{

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 7em;
}
.propaganda-imagem{
    margin-left: 20%;
    width: 50%;
}
.propaganda__titulo{
    font-family: var(--roxo-quinteario);
    font-size: 48px;
    color: var(--roxo-setario);
}
.propaganda__titulo:hover{
    text-shadow:3px 3px 5px #E0AAFF;
    transition: 700ms;
}




